.imagestyle
{
    height: 22rem;
   margin-top: 3rem;
   margin-right: 6rem;
    float: left;
    width:25rem;
    border-radius: 3px;
    /* display: flexbox; */
}

.form
{

    align-items: center;
}
.in
{
    margin-top: 5rem;
     margin-right:2rem;
    width: 25rem;
    border-radius: 5px;
    padding: 4px;
    margin-left: 10rem;
}
.button
{
    width: 5rem;
    padding: 4px;
    border-radius: 5px; 
}