.imagestyle
{
    height: 45rem;
    padding-left: 40px;
    align-items: center;
    margin: 8rem;
    width:50rem;
    border-radius: 3px;
}

.form
{

    align-items: center;
}
.in
{
    margin-top: 5rem;
     margin-right:2rem;
    width: 25rem;
    border-radius: 5px;
    padding: 4px;
    margin-left: 10rem;
}
.button
{
    width: 5rem;
    padding: 4px;
    border-radius: 5px; 
}